<h2>Carrinho de <%= @user.email %></h2>

<div>
  <% @transactions.each do |t| %>
    <ul>
      <li><%= t.material.name %> | <%= form_with do |form| %> <%= form.number_field :amount %> <% end %></li>
    </ul>
  <% end %>
</div>
<div>
  <%= link_to 'Continuar comprando', materials_path %>
</div>
